*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
*.vsidx
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.dtbcache.v2
*.futdcache.v2
.vs/ProjectEvaluation/axlbookcatalog.metadata.v5.1
.vs/ProjectEvaluation/axlbookcatalog.projects.v5.1
bin
obj