*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
.vs/AxlBookCatalog/DesignTimeBuild/.dtbcache.v2
.vs/AxlBookCatalog/FileContentIndex/0082a684-22b6-4187-a327-0df781ca3cab.vsidx
.vs/AxlBookCatalog/FileContentIndex/0b158e81-54e3-4a9a-bff4-8040bb26c261.vsidx
.vs/AxlBookCatalog/FileContentIndex/3f296e1b-b689-422d-95f0-b16c88ad80fc.vsidx
.vs/AxlBookCatalog/FileContentIndex/63af375c-8530-4772-aeab-28e2f07d0c78.vsidx
.vs/AxlBookCatalog/FileContentIndex/73570620-7b97-48e1-a11d-56b38d1f8bff.vsidx
.vs/AxlBookCatalog/FileContentIndex/92ef3734-f6be-4f2b-8ab4-2352f1c5d8fc.vsidx
.vs/AxlBookCatalog/FileContentIndex/bd1c1b89-6b93-46da-807d-5eedb2b9595c.vsidx
.vs/AxlBookCatalog/FileContentIndex/c7f20763-2012-4fa9-bbc9-ba8c09311b2d.vsidx
.vs/AxlBookCatalog/v17/.futdcache.v2
.vs/AxlBookCatalog/v17/.suo
.vs/ProjectEvaluation/axlbookcatalog.metadata.v5.1
.vs/ProjectEvaluation/axlbookcatalog.projects.v5.1
AxlBookCatalog.Business/bin/Debug/net6.0/AxlBookCatalog.Business.Abstractions.pdb
